body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 20px;
  padding: 20px;
}

h1, h2 {
  color: #00796b; /* Cor azul esverdeada para os títulos */
}

section {
  text-align: center;
  margin-top: 20px;
}

section {
  text-align: center;
  margin-top: 20px;
}

#add-liked,
#remove-liked {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#add-liked:hover,
#remove-liked:hover {
  background-color: #45a049; /* Cor um pouco mais escura ao passar o mouse sobre os botões */
}

#add-liked:active,
#remove-liked:active {
  background-color: #3e8948; /* Cor ainda mais escura quando o botão está sendo clicado */
}

#contador {
  font-size: 1.3em;
  color: #4faf4c; /* Cor inicial verde */
  margin: 10px;
  transition: color 0.1s;
  display: inline-block;
  padding: 3px;
  border-radius: 5px;
}

#contador.success {
  color: #ffffff; /* Cor vermelha para o efeito de sucesso */
  background-color: #64be5b; /* Cor de fundo vermelha para o efeito de sucesso */
}
