body{
  background-color: #000000;
}

#logo{
  background-color: black;
}

#logo1{
  display: block;
    margin-left: auto;
    margin-right: auto
}

h1{
  font-family: 'Sedgwick Ave', cursive;;
  font-size: 55px;
  color: #E6C66B;
  text-align: center;
  background-color: #000000;
}

h2{
  color: #f1c40f;
  font-family: "Roboto";
}

li{
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  font-size: 18px;
}

h3{
  font-family: "Roboto";
  background-color: #f1c40f ;
  border: 4px solid rgb(0, 0, 0);
}

#astronomy-class{
  color: #e74c3c 
}

activities{
  color: black;
}